<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tenant1</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <script src="{{ url_for('static', filename = 'jquery-3.2.1.min.js') }}"></script>
</head>

<body>
    <div style="width:1200px;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="">Home</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Sentiment Analysis</h3>
        </div>

        <div class="jumbotron">
            <div class="div2">
                <form class="" method="post" enctype="multipart/form-data">
                    <input cols="50" type="text" name="diagram" id="searchTerm" class="form-control" aria-placeholder="enter search term"> </input>
                    <br>
                    <button id="btnSearch" class="btn btn-lg btn-primary" type="button" style="width:400px;text-align: center;">Search</button>
                </form>
            </div>
        </div>

        <div class="jumbotron" id="divImage" style="display:none;">
            <img id="locPNG" />
            <img id="barPNG" />
            <img id="piePNG" />
        </div>

        <footer class="footer">
            <p>&copy; PHAK 2017</p>
        </footer>

    </div>
    <script>
        $(document).ready(function() {
            var host = location.protocol + '//' + location.host;
            $(document.body).on('click', '#btnSearch', function() {
                $.ajax({
                    type: 'POST',
                    url: "{{url_for('search')}}",
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({
                        "searchTerm": $("#searchTerm").val()
                    }, null, '\t'),
                    dataType: "json",
                    success: function(data) {
                        if (data["pics"]) {
                            console.log(data["pics"])
                            d = new Date();
                            $("#locPNG").prop("src", data["pics"]["locPNG"] + "?" + d.getTime())
                            $("#barPNG").prop("src", data["pics"]["barPNG"] + "?" + d.getTime())
                            $("#piePNG").prop("src", data["pics"]["piePNG"] + "?" + d.getTime())
                            $("#divImage").show();
                        } else {
                            $("#divImage").hide();
                            // window.location.replace(data["redirect"]);
                        }
                    }
                });
            });
        });
    </script>
</body>

</html>